# --- Python & Environments ---
.venv/
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.env.local
.env

# --- Build & Distribution ---
dist/
build/
*.egg-info/

# --- Lab-Specific / Safety ---
*.bak
legacy/
.python-version.bak

# --- IDEs ---
.vscode/
.cursorignore
.idea/

# folders
src/experiments/automation/outputs/
# src/experiments/automation/notebooks/
